.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 1rem auto 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.topbar a {
  color: inherit;
  position: relative;
}

.topbar a[active="true"]::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  bottom: 0;
  /* left: -5px; */
  opacity: 0.6;
  z-index: -1;
}